{% extends "navbar.html" %}
{% block title %} Tempest - Acerca de {% endblock %}
{% block content %}

    <div class="div_c">
        <br>
        <b><p style="color:White";>TEMPEST 1.0</p></b>
        <p style="color:White";> Tempest es una aplicaci&oacuten para la Cumunidad de Madrid, desarroyada en
            Django y que usa los datos del AEMET para proporcionar la informaci&oacutenn meteorol&oacutengica desarrollada en 2021
            por Guillermo Jiménez.
            <a href ="https://github.com/Sp00ky99/Tempest" target="_blank">Tempest en GitHub</a>

        </p>

        </br>

        <b><p style="color:White";>Licencias</p></b>
        <p style="color:White";> AEMET: <a href ="http://www.aemet.es/es/datos_abiertos/AEMET_OpenData" target="_blank">OpenData</a></p>
        <p style="color:White";> Interactive and responsive map: <a href ="https://github.com/WebsiteBeaver/interactive-and-responsive-svg-map-of-us-states-capitals" target="_blank">Licencia MIT</a></p>
        <p style="color:White";> Imagen SVG del mapa interactivo: <a href ="https://creativecommons.org/ns#Requirement" target="_blank">Creative Commons Rights Expression Language</a></p>
        <p style="color:White";> Barra de navegaci&oacuten: <a href ="https://getbootstrap.com/docs/5.0/about/license/" target="_blank">Bootstrap5</a></p>
        <p style="color:White";> Barra de b&uacutesqueda de municipios: <a href ="https://www.lawebdelprogramador.com/codigo/JavaScript/2488-Buscar-en-el-contenido-de-una-tabla-de-HTML-con-JavaScript.html" target="_blank">lwp comunidad de programadores</a></p>
        <p style="color:White";> Font Awesome: <a href ="https://fontawesome.com/license/free" target="_blank">Open Source Licence</a></p>

    </div>

<style>
.div_c {
        text-align: center;
        margin: auto;
        width: 80%;
        padding: 10px;
}

</style>


{% endblock %}