{% extends "navbar.html" %}
{% block title %} Tempest 1.0 - About {% endblock %}
{% block content %}

    <div class="div_c">
        <b><p style="color:White";>Acerca de TEMPEST</p></b>
        <p style="color:White";> Tempest es una aplicación para la Cumunidad de Madrid, desarroyada en
            Django y que usa los datos del AEMET para proporcionar la información meteorológica desarrollada en 2021
            por Guillermo Jiménez.
            <a href ="https://github.com/Sp00ky99/Tempest" target="_blank">Tempest en GitHub</a>
        </p>

        </br>

        <b><p style="color:White";>Licencias</p></b>
        <p style="color:White";> AEMET: <a href ="http://www.aemet.es/es/datos_abiertos/AEMET_OpenData" target="_blank">OpenData</a></p>
        <p style="color:White";> Interactive and responsive map: <a href ="https://github.com/WebsiteBeaver/interactive-and-responsive-svg-map-of-us-states-capitals" target="_blank">Licencia MIT</a></p>
        <p style="color:White";> Imagen SVG del mapa interactivo: <a href ="https://creativecommons.org/ns#Requirement" target="_blank">Creative Commons Rights Expression Language</a></p>

    </div>

<style>
.div_c {
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 5px;
        padding: 10px;
}

</style>


{% endblock %}