{% extends "navbar.html" %}
{% block title %} Tempest - Home {% endblock %}
{% block content %}

    <div class="div_c">
        <h1 style="color:White";>TEMPEST</h1>
        <h5 style="color:White";>APP Meteorol&oacutegica para la Comunidad de Madrid</h5>
        <a class="nav-link active" aria-current="page" href="{% url 'about' %}">Acerca de Tempest</a>
    </div>

<style>
.div_c {
position: absolute;
        text-align: center;
        margin: auto;
        width: 80%;
        padding: 10px;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        border: 5px;
        padding: 10px;
}



</style>


{% endblock %}