{% extends "navbar.html" %}
{% block title %} Tempest 1.0 - Info {% endblock %}
{% block content %}

    <div>

    <h1 style="color:white";>INFO</h1>
    <p style="color:white";>{{message}}</p>  <br>
    <p style="color:white";>{{datos}}</p>  <br>
    <p style="color:white";>{{diccionario}}</p>  <br>
    <p style="color:white";>{{datos_d}}</p>  <br>
    <p style="color:white";>{{diccionario_d}}</p>  <br>
    <p style="color:white";>{{datos_m}}</p>  <br>
    <p style="color:white";>{{diccionario_m}}</p>  <br>

    </div>

{% endblock %}